@import "../../variables";

.navbar {
  padding: $unit-5;
  background: $bg-color-light;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 76px);
}

.dropdown {
  width: 500px;
  padding: $unit-1 0 $unit-3 0;
}


.menu {
  width: 100%;
  z-index: $zindex-2;
}
img{
  padding-bottom: 10px;
}

