@import "../../variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - #{$navbar-height});
}

.dropdown {
  width: 50%;
}

.menu {
  width: 100%;
}

.logo {
  margin-bottom: $unit-5;
}
